[Unit]
Description=Jannis' Telegram Coin Bot
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/coinbot
ExecStart=/root/.local/bin/poetry run python /root/coinbot/app.py
Restart=always
RestartSec=10
Environment="LOGLEVEL=DEBUG"

[Install]
WantedBy=multi-user.target